.navbar {
  background: linear-gradient(90deg, #0077b6, #00b4d8);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.navbar a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  text-decoration: underline;
}

.logout-btn {
  background-color: #ff5c5c;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #ff3333;
}
